@dtransforma:registry=https://us-npm.pkg.dev/clicks-dev/galicarlib/
//us-npm.pkg.dev/clicks-dev/galicarlib/:always-auth=true
//us-npm.pkg.dev/clicks-dev/galicarlib/:username=_json_key_base64
//us-npm.pkg.dev/clicks-dev/galicarlib/:email=not.valid@email.com